/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style */
.hidden {
    display: none;
}

.btn-primary {
    background-color: #E02C6D;
    color: #FFFFFF;
    border-radius: 41px;
    padding: 24px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.btn-secondary {
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 14px 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}


/* navbar */
nav {
    max-width: 1270px;
    margin: 65px auto 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

nav h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3A3A3A;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 34px;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

/* Banner */
.banner {
    max-width: 1270px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 135px;
}

.banner-content h2 {
    font-size: 3.25rem;
    font-weight: bold;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.banner-content p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.banner-image {
    max-width: 476px;
    height: 440px;
    background-image: url('../images/Circle\ design.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* main section */
/* sponsor section */
.sponsor {
    max-width: 1140px;
    margin: 70px auto 100px;
    box-shadow: 0px 0px 0.6px gray;


}

.sponsor-image {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 36px 62px;
    justify-content: center;
    align-items: center;

}

.sponsor-image img {
    justify-self: center;
}

/* card  section */
.card-section {
    max-width: 1140px;
    margin: 0 auto;
}

.card-section h3 {
    font-size: 2.75rem;
    line-height: 4.4rem;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 30px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 1);
    max-width: 330px;
    padding: 15px;
}

.card img {
    border-radius: 5px;
    margin-bottom: 16px;

}

.card h2 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    color: #18191F;
}

.card h4 {
    font-size: 1.5rem;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
}

.card .rating {
    color: #787885;
}

.card p {
    font-size: 1rem;
    color: #787885;
}






/* Feature */

.feature {
    max-width: 1140px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    gap: 96px;
}

.feature-image img {
    border-radius: 8px;
}

.feature-content h3 {
    font-size: 2.4rem;
    line-height: 3.8rem;
    color: #0A0826;
    margin-bottom: 16px;

}

.feature-content p {
    font-size: 1rem;
    line-height: 1.8rem;
    color: #6C6C6C;
    margin-bottom: 16px;
}

/* footer section */
footer {
    background-color: #0A0826;
    color: #FFFFFF;
    text-align: center;
    padding: 50px;
}

.footer-content h4 {
    font-size: 1.5rem;
    margin-bottom: 5px;

}

.c-right {
    margin-bottom: 5px;
}

.footer-content p {
    margin-bottom: 17px;

}

.icon img {
    margin-right: 10px;
}


/* media query */

@media screen and (max-width:576px) {

    nav {
        flex-direction: column;
        gap: 20px;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 20px;
        text-align: center;
    }

    .sponsor {
        max-width: 275px;
    }

    .sponsor-image {
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 20px;
    }

    .sponsor-image img:nth-child(5) {
        grid-column: 2;
    }

    .sponsor-image img:nth-child(6) {
        grid-column: 3;
    }

    .sponsor-image img:nth-child(7) {
        grid-column: 4;
    }

    .card-container {
        
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        
    }

    .feature {
        flex-direction: column-reverse;
        padding: 20px;
        text-align: center;
    }


}